{% load static %}
{% static "images" as baseUrl %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>GNDPC</title>
	<link rel="icon" href="{% static 'images/kp.png' %}" type="image/icon type">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="GNDPC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
	<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>

    .contact-form{
		background: #fff;
		margin-top: 8%;
		margin-bottom: 5%;
		width: 70%;
        position: relative;
		border-radius: 70px;
	}
	.contact-form .form-control{
		border-radius:1rem;
	}
	.contact-image{
		text-align: center;
	}
	.contact-image img{
		border-radius: 6rem;
		width: 11%;
		margin-top: -3%;
		transform: rotate(29deg);
	}
    .contact-form form{
		padding: 10%;
	}
	.contact-form form .row{
		margin-bottom: -7%;
	}
	.contact-form h3{
		margin-bottom: 8%;
		margin-top: -10%;
		text-align: center;
		color: burlywood;
        font-weight: bold;
	}
	.contact-form .btnContact {
		width: 45%;
		border: none;
		border-radius: 1rem;
		padding: 4%;
		background: burlywood;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
	}
	.contact-form .btnContact:hover {
		background: #794b4e;
	}
	.btnContactSubmit
	{
		width: 50%;
		border-radius: 1rem;
		padding: 1.5%;
		color: #fff;
		background-color: #0062cc;
		border: none;
		cursor: pointer;
	}

  @media screen and (max-width: 600px) {
		.contact-form{
			width: 90%;
			height: auto;
			border-radius: 40px;
			margin-top: 50px;
	}
  }
  @media screen and (max-width: 600px) {
  .contact-image img{
      width: 80px;
  }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {
	.contact-form{
		margin-top: 140px;
		height: 50vh;
		width: 85%;
	  }
	}
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px)  {
		.contact-image img{
			width: 90px;
		}
	  }
	  @media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 1024px)  {
		.contact-form form{
			padding: 5%;
			margin-top: 80px;
		  }
		}
		@media screen and (max-width: 600px) {
		  .contact-form form{
			padding: 5%;
			margin-top: 15px;
			}
		  }

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)  {
	.contact-form .form-control{
		height: 55px;
	}
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)  {
	.contact-form{
		margin-top: 140px;
		height: 50vh;

	  }
}


  .hj p{
	position: relative;
	font-size: 50px;
	color: #5b2a19;
	font-family: Sans-serif;
	text-align: center;
	margin-top: 70px;
  }
.cardBox {
  float: left;
  font-size: 1.2em;
  margin: 1% 0 0 1%;
  perspective: 800px;
  transition: all 0.3s ease 0s;
  width: 23.7%;
}

.cardBox:hover .card {
  transform: rotateY( 180deg);
}

.card {
  background: #222;
  cursor: default;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.4s ease 0s;
  width: 100%;
  -webkit-animation: giro 1s 1;
  animation: giro 1s 1;
}

.card p {
  margin-bottom: 1.8em;
}

.card .front,
.card .back {
  backface-visibility: hidden;
  box-sizing: border-box;
  color: white;
  display: block;
  font-size: 1.2em;
  height: 100%;
  padding: 0.8em;
  position: absolute;
  text-align: center;
  width: 100%;
}

.card .front strong {
  background: #fff;
  border-radius: 100%;
  color: #222;
  font-size: 1.5em;
  line-height: 30px;
  padding: 0 7px 4px 6px;
}

.card .back {
  transform: rotateY( 180deg);
}

.card .back a {
  padding: 0.3em 0.5em;
  background: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 1px;
  font-size: 0.9em;
  transition: all 0.2s ease 0s;
}

.card .back a:hover {
  background: #fff;
  color: #333;
  text-shadow: 0 0 1px #333;
}

.cardBox:nth-child(1) .card .back {
  background: cornflowerblue;
}

.cardBox:nth-child(2) .card .back {
  background: orange;
}

.cardBox:nth-child(3) .card .back {
  background: yellowgreen;
}

.cardBox:nth-child(4) .card .back {
  background: tomato;
}

.cardBox:nth-child(2) .card {
  -webkit-animation: giro 1.5s 1;
  animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
  -webkit-animation: giro 2s 1;
  animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
  -webkit-animation: giro 2.5s 1;
  animation: giro 2.5s 1;
}

@-webkit-keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@keyframes giro {
  from {
    transform: rotateY( 180deg);
  }
  to {
    transform: rotateY( 0deg);
  }
}

@media screen and (max-width: 767px) {
  .cardBox {
    margin-left: 2.8%;
    margin-top: 3%;
    width: 46%;
  }
  .card {
    height: 285px;
  }
  .cardBox:last-child {
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 480px) {
  .cardBox {
    width: 94.5%;
  }
  .card {
    height: 260px;
  }
}
</style>
<body>

	<img src="static/images/an.jpg" id="myVideo">

	  <nav class="navbar navbar-expand-lg navbar-dark" style="margin-top: 16px;">

		<!--  Show this only on mobile to medium screens  -->
		  <a class="navbar-brand d-lg-none" href="{% url 'index' %}">ＧＮＤＰＣ</a>
		
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		
		<!--  Use flexbox utility classes to change how the child elements are justified  -->
		  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
		
			<ul id="kp" class="navbar-nav" style="font-size: 1.5vw;margin-right: 30px;font-weight:bold;color:white !important;">
			 
			
			
		<!--   Show this only lg screens and up   -->
			<a class="navbar-brand d-none d-lg-block" href="#" style="margin-right: 2rem !important; font-size:2vw;">ＧＮＤＰＣ</a>

			<ul class="navbar-nav" style="font-size: 1.5vw;margin-right: 30px;font-weight:bold;">
			 
			  <li class="nav-item h5">
				<a class="nav-link text-white" href="{% url 'logout_request' %}">logout</a>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			  </li> -->
			</ul>
		  </div>
		</nav>
		<div class="hj">
		<p >Requests</p>
		<p>{{noentry}}</p>
	</div>
	{{noentry}}
		{% for i in thislist1 %}
		
		<div class="boxesContainer">
				
			<div class="cardBox">
			  <div class="card">
				<div class="front">
				  <h3>Name: {{ i.1}}</h3>
				  <p>Semester: {{ i.4 }}</p>
				  <p>Subject: {{i.8}}</p>
				  
				</div>
				<div class="back">
				  <h3>Phone No : {{i.6}}</h3>
				  <p>Email : {{i.5}}</p>
				  <a href="{{i.13}}" >⫸  View</a><br>
				  <a href="{% url 'verify_notes_by_teacher' %}?database={{database}}{{code}}" >⫸  Verify</a><br>
				</div>
			  </div>
			</div>
		  
		  
		  </div>
		  {% endfor %}
</body>

</html>