{% load static %}
{% static "images" as baseUrl %}
<p>{{ verified }}</p>
<!DOCTYPE html>
<html lang="en">

<head>
	<title>GNDPC</title>
	<link rel="icon" href="{% static 'images/kp.png' %}" type="image/icon type">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="GNDPC">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">
	<link href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/home.css' %}">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<link href="{% static 'styles/progress-wizard.min.css' %}" rel="stylesheet">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<style>

    .contact-form{
		background: #fff;
		margin-top: 8%;
		margin-bottom: 5%;
		width: 70%;
        position: relative;
		border-radius: 70px;
	}
	.contact-form .form-control{
		border-radius:1rem;
	}
	.contact-image{
		text-align: center;
	}
	.contact-image img{
		border-radius: 6rem;
		width: 11%;
		margin-top: -3%;
		transform: rotate(29deg);
	}
    .contact-form form{
		padding: 10%;
	}
	.contact-form form .row{
		margin-bottom: -7%;
	}
	.contact-form h3{
		margin-bottom: 8%;
		margin-top: -10%;
		text-align: center;
		color: burlywood;
        font-weight: bold;
	}
	.contact-form .btnContact {
		width: 45%;
		border: none;
		border-radius: 1rem;
		padding: 4%;
		background: burlywood;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
	}
	.contact-form .btnContact:hover {
		background: #794b4e;
	}
	.btnContactSubmit
	{
		width: 50%;
		border-radius: 1rem;
		padding: 1.5%;
		color: #fff;
		background-color: #0062cc;
		border: none;
		cursor: pointer;
	}

  @media screen and (max-width: 600px) {
		.contact-form{
			width: 90%;
			height: auto;
			border-radius: 40px;
			margin-top: 50px;
	}
  }
  @media screen and (max-width: 600px) {
  .contact-image img{
      width: 80px;
  }
}

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px)  {
	.contact-form{
		margin-top: 140px;
		height: 50vh;
		width: 85%;
	  }
	}
	@media only screen 
	and (min-device-width: 768px) 
	and (max-device-width: 1024px)  {
		.contact-image img{
			width: 90px;
		}
	  }
	  @media only screen 
	  and (min-device-width: 768px) 
	  and (max-device-width: 1024px)  {
		.contact-form form{
			padding: 5%;
			margin-top: 80px;
		  }
		}
		@media screen and (max-width: 600px) {
		  .contact-form form{
			padding: 5%;
			margin-top: 15px;
			}
		  }

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)  {
	.contact-form .form-control{
		height: 55px;
	}
}
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px)  {
	.contact-form{
		margin-top: 140px;
		height: 50vh;

	  }
}

 .container img{
	height: 7vh;
position: absolute;
margin-top: -15px;
box-shadow: 5px 5px 5px black;
border-radius: 10px;
background: white;
}

</style>
<body>

	<img src="static/images/mn.jpg" id="myVideo">

	  <nav class="navbar navbar-expand-lg navbar-dark" style="margin-top: 16px;">

		<!--  Show this only on mobile to medium screens  -->
		  <a class="navbar-brand d-lg-none" href="#">ＧＮＤＰＣ</a>
		
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		
		<!--  Use flexbox utility classes to change how the child elements are justified  -->
		  <div class="collapse navbar-collapse justify-content-between" id="navbarToggle">
		
			<ul id="kp" class="navbar-nav" style="font-size: 1.5vw;margin-right: 30px;font-weight:bold;color:white !important;">
			  <li class="nav-item h5">
				<a class="nav-link text-white " href="{% url 'index' %}">Home </a>
			  </li>
			  <li class="nav-item h5">
				<a class="nav-link text-white" href="#">Notes</a>
			  </li>
			  <li class="nav-item h5">
				<a class="nav-link text-white" href="{% url 'complain_register' %}">Complian</a>
			  </li>
			</ul>
			
			
		<!--   Show this only lg screens and up   -->
			<a class="navbar-brand d-none d-lg-block" href="#" style="margin-right: 2rem !important; font-size:2vw;">ＧＮＤＰＣ</a>

			<ul class="navbar-nav" style="font-size: 1.5vw;margin-right: 30px;font-weight:bold;">
			  <li class="nav-item h5">
				<a class="nav-link text-white" href="{% url 'track' %}">Track Complian</a>
			  </li>
			  <li class="nav-item h5">
				<a class="nav-link text-white" href="#">Login</a>
			  </li>
			  <!-- <li class="nav-item">
				<a class="nav-link" href="#">Link</a>
			  </li> -->
			</ul>
		  </div>
		</nav>
		


        <div class="container contact-form">
            <div class="contact-image">
                <img src="{% static 'images/ab.png' %}" alt="img"/ style="background-color: burlywood;">
            </div>
            <!-- <form class="fm" action = "" method = "POST" enctype="multipart/form-data">
                    {% csrf_token %} -->
                    
                <h3>Track 𝙲𝚘𝚖𝚙𝚕𝚊𝚒𝚗</h3>
               <div >
                  <!--  -->
               <!-- progressbar -->
			   
				<img src="{% static 'images/start.png' %}" alt="img"/ style="background-color: #ffc107;">
			   <div class="progress" style="box-shadow: 5px 5px 11px 5px;">
				
				{% if verified == 2  %}
				<!-- this code is for verified one -->
					<p>hello</p>
					<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					<img src="{% static 'images/checked.png' %}" alt="img"/ style="margin-left:75%;background-color: #ffc107;">
				{% elif verified == 1 %}
				<!-- this code is for not verified -->
					<div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
					<img src="{% static 'images/checked.png' %}" alt="img"/ style="margin-left:75%;background-color: white;">
				{% endif%}
			    </div>
			
                   <!--  -->
			    </div>
            <!-- </form> -->
        </div>
		
</body>

</html>